{% extends "base.html" %}
{% block title %}Blog Details{% endblock %}
{% block colume_name %}博客详情{% endblock %}
{% block colume1 %}
<!-- <h3>{{ blog.title }}</h3> -->
<h3>{{ blog.title }}<span class="label label-default">New</span></h3>
<p>作者： {{ blog.author }} </p>
<p>发表日期：{{ blog.created_time|date:"Y-m-d G:n:s" }}</p>
<a href="{% url 'blog_type' blog.blog_type.id %}">
    <p>类型：{{ blog.blog_type }}</p>
</a>
<p>{{ blog_content|safe }}</p>
{% endblock %}

{% block colume2 %}
<h4>博客分类</h4>
{% for blog in types %}
<a href="{% url 'blog_type' blog.id %}">
    <h4>{{ blog.type_name }}</h4>
</a>
{% empty %}
{% endfor %}
{% endblock %}

{% block pagination %}
<nav aria-label="...">
    <ul class="pager">
        {% if previous_blog %}
        <li><a href="{% url 'blog_detail' previous_blog.id %}">上一篇&nbsp;{{ previous_blog.title }}</a></li>
        {% endif %}
        <li><br></li>
        {% if next_blog %}
        <li><a href="{% url 'blog_detail' next_blog.id %}">下一篇&nbsp;{{ next_blog.title }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block comment %}
<div class="row">
    <div>
        <div style="margin: 2em;border: 1px dashed;padding: 2em;">
            {% if user.is_authenticated %}
            已登陆
            <form id='comments_form' action="{% url 'update_comment' %}" method="POST">
                {% csrf_token %}
                {{ comments_form }}
                <!-- <textarea name="text" cols="160" rows="10"></textarea> -->
                <!-- <input type="hidden" name="object_id" value="{{ blog.id }}"> -->
                <!-- <input type="hidden" name="content_type" value="blog"> -->
                <input type="submit" value="提交">
            </form>
            {% else %}
            <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
            <span>or</span>
            <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
            {{ requests.get_full_path }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div>
        <div style="margin: 2em;border: 1px dashed;padding: 2em;">
            <div id='comment_list'>
                {% for comment in comments %}
                <div>
                    {{ blog.user }}<br>
                    {{ comment.created_time }}<br>
                    {{ comment.text | safe }}
                </div>
                {% empty %}
                无
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $("#comments_form").submit(function () {
        event.preventDefault() //阻止form表单默认提交
        $.ajax({
            url: "{% url 'update_comment' %}",
            type: "POST",
            data: $(this).serialize(),
            cache: "false",
            async: true,
            success: function (data) {
                if (data['status'] == 'SUCCESS') {
                    $("#comments_form").empty();
                    // var comment_html = '<div>'+data["username"]+'('+data["comment_time"]+')'+data["text"]+'</div>';
                    // $("#comment_list").prepend(comment_html);
                    window.location.reload()
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    })
</script>
{% endblock %}